
.idea/.name
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
JabberPoint.iml
.idea/modules.xml
.DS_Store
COPYRIGHT.txt
jabberpoint.dtd
JabberPoint.gif
JabberPoint.jpg
logo-woordmerk_ou.gif
logo_nhlstenden.jpg
serclogo_fc.jpg
testPresentation.xml
out/production/JabberPoint/XMLAccessor.class
out/production/JabberPoint/TextItem.class
out/production/JabberPoint/Style.class
out/production/JabberPoint/SlideViewerFrame.class
out/production/JabberPoint/SlideViewerFrame$1.class
out/production/JabberPoint/SlideViewerComponent.class
out/production/JabberPoint/SlideItem.class
out/production/JabberPoint/Slide.class
out/production/JabberPoint/Presentation.class
out/production/JabberPoint/MenuController.class
out/production/JabberPoint/MenuController$8.class
out/production/JabberPoint/MenuController$7.class
out/production/JabberPoint/MenuController$6.class
out/production/JabberPoint/MenuController$5.class
out/production/JabberPoint/MenuController$4.class
out/production/JabberPoint/MenuController$3.class
out/production/JabberPoint/MenuController$2.class
out/production/JabberPoint/MenuController$1.class
out/production/JabberPoint/KeyController.class
out/production/JabberPoint/JabberPoint.class
out/production/JabberPoint/DemoPresentation.class
out/production/JabberPoint/BitmapItem.class
out/production/JabberPoint/Accessor.class
out/production/JabberPoint/AboutBox.class
