
.idea/.name
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
JabberPoint.iml
.idea/modules.xml
.DS_Store
COPYRIGHT.txt
jabberpoint.dtd
JabberPoint.gif
JabberPoint.jpg
logo-woordmerk_ou.gif
logo_nhlstenden.jpg
serclogo_fc.jpg
testPresentation.xml
